

body {
  font-family:'Rozha One';
}




/* -------------------
-------1. Header---------
-------------------------*/

header {
  border-bottom:3px solid #615252;
  display:flex;
  justify-content:space-between;
  padding:0 10px 0 10px;
}

header ul {
  list-style-type:none;
}
header li {
  display:inline-block;
  margin:20px 10px 0 10px;
}
header a {
  text-decoration:none;
  color:#615252;
}

header ul a:hover {
  color:red;
  font-size:20px;
}

header h1 a:active {
  color:orange;
  font-size:50px;
}

/* -------------------
-------2. Banner---------
-------------------------*/
.banner img {
  width:100%;
  display:block;
}

/* -------------------
-------3. Content---------
-------------------------*/

.content h2 {
  text-align:center;
}


/* -------3.1 .first-section---------*/
.first-section {
  background:#E6E4E4;
  position:relative;
  padding:1px 0 0 0;
}
.first-section .grid {
  display:flex;
  padding:10px;
}

.first-section .column {
  background:white;
  padding:10px;
  margin:0 10px 0 0;
}

.first-section .column:last-of-type {
  margin:0;
}
