@import url('https://fonts.googleapis.com/css?family=Rubik');

/* -------------------
-------0. Text---------
-------------------------*/

body {
  font-family:'Rubik';
}


p {
  line-height:1.6;
}


/* -------------------
-------1. Header---------
-------------------------*/

header {
  border-bottom:3px solid #615252;
  display:flex;
  justify-content:space-between;
  padding:0 10px 0 10px;
}

header ul {
  list-style-type:none;
}
header li {
  display:inline-block;
  margin:20px 10px 0 10px;
}
header a {
  text-decoration:none;
  color:#615252;
}

header ul a:hover {
  color:red;
  font-size:20px;
}

header h1 a:active {
  color:orange;
  font-size:50px;
}

/* -------------------
-------2. Banner---------
-------------------------*/
.banner img {
  width:100%;
  display:block;
}

/* -------------------
-------3. Content---------
-------------------------*/

.content h2 {
  text-align:center;
}


/* -------3.1 .first-section---------*/
.first-section {
  background:#E6E4E4;
  position:relative;
  padding:1px 0 0 0;
}
.first-section .grid {
  display:flex;
  padding:10px;
}

.first-section .column {
  background:white;
  padding:10px;
  margin:0 10px 0 0;
}

.first-section .column:last-of-type {
  margin:0;
}

@media(max-width:600px){
  .first-section .grid {
    display:block;
  }
  .first-section .column {
    margin:0 0 10px 0;
  }
}

/* -------3.2 .second-section---------*/
.second-section {
  background:#E6E4E4;
}

.outer-box {
  display:flex;
  padding:35px 10px;
}

.inner-box2, .inner-box1 {
  background:white;
  padding:10px;
}

.inner-box1 {
  width:66.66%;
  margin-right:10px;
}
.inner-box1 h1 {
  text-align:center;
}

.inner-box2 {
  width:33.33%;
}
.card {
  background:#FFB893;
  padding:10px;
  border-radius: 15px;
  box-shadow:0 3px 3px rgba(0,0,0,0.5);
  clear:both;
}
.card:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.card:first-of-type {
  margin:0 0 10px 0;
}
.button {
  background: #029FF9;
  text-decoration:none;
  color:black;
  padding:10px;
  display:block;
  float:left;
  border-radius: 5px;
  box-shadow:0 10px 10px rgba(0,0,0,0.5);
  transition:all 0.3s ease;
}
.button:active {
  box-shadow:none;
  top:1px;
}
