<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My test page</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <header class="main-header">
      <h1 class="main-header-logo">Logo</h1>
      <ul>
        <li> <a href="#">Home</a> </li>
        <li> <a href="#">About</a> </li>
        <li> <a href="#">Contact</a> </li>
      </ul>
    </header>

    {{content}}
    
    <footer>
      <h1>Footer</h1>
    </footer>
  </body>
</html>
