@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Questrial');

* {
  max-width:100%;
  margin:0;
  padding:0;
}

body {
  font-family:'Alfa Slab One', serif;
}
/* Header*/
header {
  display:block;
  width:100%;
  background:grey;
  display:flex;
  justify-content:space-between;
}

.header-navigation li {
  display: inline-block;
}

/*Body*/


/*Footer*/
